@model IEnumerable<ShoppicaMVC.ViewModels.CategoryVM>


@foreach (var item in Model)
{
    <li>
        <a href="/product/getProduct/@item.Id">@item.CategoryName</a>
        <div class="s_submenu">
            <h3>@item.CategoryName Alt Kategori</h3>
            <ul class="s_list_1 clearfix">
                @foreach (var altItem in item.InverseTop)
                {
                    <li><a href="/product/getProduct/@altItem.Id">@altItem.CategoryName</a></li>
                }

            </ul>
            <span class="clear border_eee"></span>

        </div>
    </li>
}
